/*
 
   _____ ___  _   _ _   _ ____    _  _____ ___ ___  _   _ 
  |  ___/ _ \| | | | \ | |  _ \  / \|_   _|_ _/ _ \| \ | |
  | |_ | | | | | | |  \| | | | |/ _ \ | |  | | | | |  \| |
  |  _|| |_| | |_| | |\  | |_| / ___ \| |  | | |_| | |\  |
  |_|   \___/ \___/|_| \_|____/_/   \_\_| |___\___/|_| \_|
                                                          
 
*/

body {
  font-size: 16px;
  font-family: roboto;
}

:root {
  /* Colors */
  --colors-black: #1a1a1a;
  --colors-blue: #4bbefe;
  --colors-yellow: #ffcb4a;

  /* Spacing */
  --left-margin: 2.5rem;

  /*   Fonts  */
  --font-size-h1: 3rem;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

h1 {
  width: 100%;
  margin: auto 2rem auto var(--left-margin);
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h1);
  line-height: 130%;
}

p {
  margin-top: 2rem;
  line-height: 150%;
  font-size: 1.125rem;
  font-weight: 300;
  max-width: 50ch;
}

.text-normal {
  margin: 8rem 2rem auto var(--left-margin);
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 4rem 6rem 4rem;
  text-align: center;
}
.image {
  width: 16.75rem;
  height: 16.75rem;
  border-radius: 50%;
  margin-bottom: 4rem;
  border: 2px solid var(--colors-black);
  background-color: hsl(0, 0%, 90%);
}

button {
  background-color: var(--colors-black);
  border: none;
  color: white;
  padding: 12px;
  margin-top: 1.5rem;
  font-size: 14px;
  width: 180px;
}

/*
 
    ____ ____  ___ ____    ____  _____ ____ ___ ____ _   _ 
   / ___|  _ \|_ _|  _ \  |  _ \| ____/ ___|_ _/ ___| \ | |
  | |  _| |_) || || | | | | | | |  _| \___ \| | |  _|  \| |
  | |_| |  _ < | || |_| | | |_| | |___ ___) | | |_| | |\  |
   \____|_| \_\___|____/  |____/|_____|____/___\____|_| \_|
                                                           
 
*/

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.top_header {
  background-color: var(--colors-black);
  color: white;
  height: 4rem;

  /*box-shadow: 0px 4px 0px rgba(26, 26, 26, 0.25);*/
}

.bottom_header {
  height: 8rem;
  box-shadow: 0px 4px 0px rgba(26, 26, 26, 0.25);
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr 640px 640px 1fr;
  grid-template-rows: 17.75rem 34.25rem 34.25rem 34.25rem 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". hero banner banner"
    "d1 decorating_img decorating_txt d2"
    ". search_txt search_img ."
    "b1 bookmark_img bookmark_txt b2"
    ". question join ."
    "footer footer footer footer";
}

.decorating_img {
  grid-area: decorating_img;
}

.search_txt {
  grid-area: search_txt;
}

.bookmark_img {
  grid-area: bookmark_img;
}

.question {
  grid-area: question;
}

.join {
  grid-area: join;
}

.footer {
  grid-area: footer;
}

.d1 {
  grid-area: d1;
}

.d2 {
  grid-area: d2;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.banner {
  grid-area: banner;
  grid-area: banner;
  background-image: url(/Assets/banner_long.svg);
  background-repeat: no-repeat;
  width: 100%;
}

.hero {
  grid-area: hero;
  display: flex;
}

.decorating_txt {
  grid-area: decorating_txt;
  color: white;
}

.search_img {
  grid-area: search_img;
}

.bookmark_txt {
  grid-area: bookmark_txt;
}

.hero {
  grid-area: hero;
}

.d1,
.decorating_img,
.decorating_txt,
.d2 {
  background-color: var(--colors-blue);
}

.b1,
.bookmark_img,
.bookmark_txt,
.b2 {
  background-color: var(--colors-yellow);
}

.footer {
  grid-area: footer;
  background-color: var(--colors-black);
  height: 25rem;
}
